/* Desktop View */
/* 768px */
/* Author: Gael Rueda 
Date: 7/1/2024  */
@media screen and (min-width: 569px) {
    nav ul {
        justify-content: flex-start;
        padding-left: 20px;
    }

    div#gallery h2 {
        text-align: center;
        
    }

    section#bahamaGalleryImg {
        margin-left: 12%;
       
    }

    section#attractions h2 {
        text-align: center;
        margin-right: 8.5%;
        
    }

    section#intro, section#attractions, section#gallery {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }

    section#gallery {
        width: 50%;
    }

    #intro, #attractions, #gallery {
        margin: 20px 1.5%;
    }

    section#intro, section#attractions {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0%;
        margin-left: 0%;
    }

    footer {
        padding: 20px;
    }

    section#attractions, section#gallery {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    section#gallery {
        margin-left: 60%;
        margin-bottom: 150%;
    }

    
}