/* Desktop View */
/* 768px */
@media screen and (min-width: 569px) {
    nav ul {
        justify-content: flex-start;
        padding-left: 20px;
    }

    section#intro, section#attractions, section#gallery {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }

    section#gallery {
        width: 30%;
    }

    #intro, #attractions, #gallery {
        margin: 20px 1.5%;
    }

    section#intro, section#attractions {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0%;
        margin-left: 0%;
    }

    footer {
        padding: 20px;
    }
}